/* variables */
:root {
  /* colors */
  --merino: #f5efe1;
  --venetian-red: #dd1c1a;
  --honolulu-blue: #007cbe;
  --black: #000000;

  /* fonts variables */
  --font-display: 'Satoshi', sans-serif;
}

/* fonts import */
@font-face {
  font-family: 'Satoshi';
  src: url('https://pub-dc03d1e4e9594fc9b5a85d89c8cbf56f.r2.dev/fonts%2FSatoshi-Variable.woff2') format('woff2 supports variations'),
    url('https://pub-dc03d1e4e9594fc9b5a85d89c8cbf56f.r2.dev/fonts%2FSatoshi-Variable.woff2') format('woff2-variations');
  font-weight: 100 1000;
}

/* CSS reset */
* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

