/* variables */
:root {
  /* colors */
  --merino: #f5efe1;
  --venetian-red: #dd1c1a;
  --honolulu-blue: #007cbe;
  --black: #000000;

  /* fonts variables */
  --font-display: 'Satoshi', sans-serif;
}

